html.default.light {
    --base-bg: hsl(0, 0%, 96%);
    /* logo */
    --logo-bg: none;
    --logo-title-color: none;
    /* sidebar */
    --sidebar-text-color: hsl(0, 0%, 40%);
    --sidebar-menu-bg: hsl(0, 0%, 100%);
    --sidebar-menu-bg-hover: hsl(0, 0%, 97%);
    --sidebar-sub-menu-bg: hsl(0, 0%, 96%);
    --sidebar-sub-menu-bg-hover: hsl(0, 0%, 92%);
    --sidebar-menu-bg-active: hsla(47, 50%, 50%, 0.1);
    --sidebar-text-color-active: var(--el-color-primary);
    /* navbar */
    --navbar-bg: hsl(0, 0%, 100%);
    --navbar-icon-fill-color: hsl(0, 0%, 40%);
    /* tabs */
    --tabs-bg: hsl(0, 0%, 100%);
    --tabs-tag--bg: hsl(0, 0%, 98%);
    --tabs-tag--bg-active: hsl(0, 0%, 95%);
    --tabs-tag-text-color: hsl(0, 0%, 30%);
    --tabs-tag-text-color-active: var(--el-color-primary);
    /* element */
    --el-color-primary: hsl(47, 50%, 50%);
    --el-color-primary-light-3: hsl(47, 50%, 62%);
    --el-color-primary-light-5: hsl(47, 50%, 74%);
    --el-color-primary-light-7: hsl(47, 50%, 86%);
    --el-color-primary-light-8: hsl(47, 50%, 92%);
    --el-color-primary-light-9: hsl(47, 50%, 96%);
    --el-color-primary-dark-2: hsl(47, 50%, 37.5%);
}