html.default.dark {
    --base-bg: hsl(0, 0%, 4%);
    /* logo */
    --logo-bg: none;
    --logo-title-color: none;
    /* sidebar */
    --sidebar-text-color: hsl(0, 0%, 83%);
    --sidebar-menu-bg: hsl(0, 0%, 12%);
    --sidebar-menu-bg-hover: hsl(0, 0%, 10%);
    --sidebar-sub-menu-bg: hsl(0, 0%, 8%);
    --sidebar-sub-menu-bg-hover: hsl(0, 0%, 4%);
    --sidebar-menu-bg-active: hsl(47, 50%, 4%);
    --sidebar-text-color-active: hsl(47, 50%, 50%);
    /* navbar */
    --navbar-bg: hsl(0, 0%, 8%);
    --navbar-icon-fill-color: hsl(0, 0%, 83%);
    --navbar-icon-bg-hover: hsl(0, 0%, 100%, 0.06);
    /* tabs */
    --tabs-bg: hsl(0, 0%, 8%);
    --tabs-tag--bg: hsl(0, 0%, 12%);
    --tabs-tag--bg-active: hsl(0, 0%, 4%);
    --tabs-tag-text-color: hsl(0, 0%, 93%);
    --tabs-tag-text-color-active: hsl(47, 50%, 50%);
    /* element */
    --el-color-primary: hsl(47, 50%, 50%);
    --el-color-primary-light-3: none;
    --el-color-primary-light-5: none;
    --el-color-primary-light-7: none;
    --el-color-primary-light-8: none;
    --el-color-primary-light-9: none;
    --el-color-primary-dark-2: none;
}