html.default.light {
    --base-bg: none;
    /* logo */
    --logo-bg: none;
    --logo-title-color: none;
    /* sidebar */
    --sidebar-text-color: none;
    --sidebar-menu-bg: none;
    --sidebar-menu-bg-hover: none;
    --sidebar-sub-menu-bg: none;
    --sidebar-sub-menu-bg-hover: none;
    --sidebar-menu-bg-active: none;
    --sidebar-text-color-active: none;
    /* navbar */
    --navbar-bg: none;
    --navbar-icon-fill-color: none;
    --navbar-icon-bg-hover: none;
    /* tabs */
    --tabs-bg: none;
    --tabs-tag--bg: none;
    --tabs-tag--bg-active: none;
    --tabs-tag-text-color: none;
    --tabs-tag-text-color-active: none;
    /* element */
    --el-color-primary: none;
    --el-color-primary-light-3: none;
    --el-color-primary-light-5: none;
    --el-color-primary-light-7: none;
    --el-color-primary-light-8: none;
    --el-color-primary-light-9: none;
    --el-color-primary-dark-2: none;
}