@import url('./theme/default/light.scss');
@import url('./theme/default/dark.scss');
@import url('./element-ui.scss');
@import url('./transition.scss');

* {
    margin: 0;
    padding: 0;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-icon {
    width: 1em;
    height: 1em;
    margin-right: 6px;

    +span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.main-scrollbar {
    width: 100%;

    .el-scrollbar__wrap .el-scrollbar__view {
        min-height: 100%;
    }
}

.app-container {
    padding: 20px;
    overflow: hidden;
}

.app-card {
    background: var(--el-bg-color);
    box-shadow: var(--el-box-shadow-lighter);
}

.query-form {
    padding: 14px 14px 0 14px;
    border-bottom: 0.8px solid var(--el-border-color-lighter);

    .el-form-item {
        min-width: 300px;
        margin-right: 0;
        margin-bottom: 14px;

        .el-input {
            width: 200px;
        }
    }
}

.button-group {
    padding: 14px;
    display: flex;
}