@import url('./element-ui.scss');
@import url('./default/light.scss');
@import url('./default/dark.scss');

* {
    margin: 0;
    padding: 0;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-container {
    padding: 20px;
}

.app-card {
    background: var(--el-bg-color);
    box-shadow: var(--el-box-shadow-lighter);
}

.query-form {
    padding: 14px 14px 0 14px;

    .el-form-item {
        min-width: 300px;
        margin-right: 0;
        margin-bottom: 14px;

        .el-input {
            width: 200px;
        }
    }
}

.button-group {
    padding: 14px;
    border-top: 0.8px solid var(--el-border-color-lighter);
    border-bottom: 0.8px solid var(--el-border-color-lighter);
    display: flex;
}