.tabs-container.button {
    .scroll-pane .el-scrollbar__view {
        padding-left: 6px;
        align-items: center;

        .tab {
            height: 26px;
            padding: 0 8px;
            border: 1px solid var(--el-border-color-light);
            background: var(--tabs-tag--bg);
            color: var(--tabs-tag-text-color);

            svg {
                fill: var(--tabs-tag-text-color);

                &.close-icon {
                    border-radius: 10%;

                    &:hover {
                        background: var(--el-text-color-placeholder);
                        box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                        fill: var(--el-bg-color);
                    }
                }
            }

            &.is-active {
                border-color: var(--el-color-primary-light-7);
                background: var(--el-color-primary-light-9);
                color: var(--tabs-tag-text-color-active);

                svg {
                    fill: var(--tabs-tag-text-color-active);

                    &.close-icon:hover {
                        background: var(--el-color-primary-light-3);
                        box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                    }
                }
            }
        }
    }
}