.tabs-container.line {
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--el-border-color-light);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .scroll-pane .el-scrollbar__view {
        .tab {
            height: 30px;
            padding: 2px 8px;
            color: var(--tabs-tag-text-color);

            svg {
                fill: var(--tabs-tag-text-color);

                &.close-icon {
                    border-radius: 10%;

                    &:hover {
                        background: var(--el-text-color-placeholder);
                        box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                        fill: var(--el-bg-color);
                    }
                }
            }

            &.is-active {
                border-bottom: 2px solid var(--tabs-tag-text-color-active);
                color: var(--tabs-tag-text-color-active);

                svg {
                    fill: var(--tabs-tag-text-color-active);

                    &.close-icon:hover {
                        background: var(--el-color-primary-light-3);
                        box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                    }
                }
            }
        }
    }
}